/* sf_guard_user_profile */
.nota_pedido-index {
    width: 960px;
}

.nota_pedido-index .sf_admin_list td.sf_admin_td_actions ul.sf_admin_ul_actions {
    left: -150px;
}
.nota_pedido-index .sf_admin_list td.sf_admin_td_actions ul.sf_admin_ul_actions li {
    width: 180px;
}


/* Ancho de las columnas */
.nota_pedido-index .sf_admin_list_th_numero                 { width: 50px; }
.nota_pedido-index .sf_admin_list_th_revision               { width: 20px; }
.nota_pedido-index .sf_admin_list_th_fecha                  { width: 80px; }
.nota_pedido-index .sf_admin_list_th_proveedor              { width: 210px; }
.nota_pedido-index .sf_admin_list_th_plazo_entrega          { width: 60px; }
.nota_pedido-index .sf_admin_list_th_transporte             { width: 140px; }
.nota_pedido-index .sf_admin_list_th_ultimo_estado          { width: 170px; }

/* Iconos en las acciones de los objetos*/
.nota_pedido-index .icn-submit                              { background-position:  -177px  -600px; }
.nota_pedido-index .icn-new                                 { background-position:   -17px  -600px; }
.nota_pedido-index .icn-edit                                { background-position:   -77px  -597px; }
.nota_pedido-index .icn-delete                              { background-position:   -57px  -597px; }
.nota_pedido-index .icn-admin_compras                       { background-position:  -117px  -597px; }
.nota_pedido-index .icn-print                               { background-position:  -257px  -597px; }


#nota_pedido_revision{
    width: 40px;
}
#nota_pedido_plazo_entrega{
    width: 40px;
}
#nota_pedido_condicion_pago_detalle{
     width: 244px
}
#nota_pedido_remitir_doc_a{
    width: 248px
}
#nota_pedido_condicion_lugar_entrega,
#nota_pedido_otros_descripcion,
#nota_pedido_lugar_entrega{
    width: 300px
}
#compra_cantidad{
    width: 40px;
}
#compra_precio{
    width: 80px;
}
div.admin_compras {
    width: 600px;
}

div.admin_compras div.bloque {
    color: #333;
    -moz-border-radius: 5px;
    margin: 3px;
    border: 1px solid #CCC;
    background-color: #EEE;
    padding: 2px 5px;
}

div.admin_compras div.bloque div {
    border: 0;
}

div.admin_compras table {
    width: 583px;
}

div.admin_compras table thead col0.th           {width: 103px;}
div.admin_compras table thead col1.th           {width: 30px;}
div.admin_compras table thead col2.th           {width: 300px;}
div.admin_compras table thead col3.th           {width: 50px;}
div.admin_compras table thead col4.th           {width: 50px;}
div.admin_compras table thead col5.th           {width: 50px;}


#add_compra {
    width: 500px;
}


div.pepe {
    position: relative;
}

td.sf_admin_td_actions div.btn-action {
    float: left;
}

ul.sf_admin_ul_actions {
	display: none;
	position: absolute;
	left: -3px; top: -3px;
	z-index: 110;
	list-style: none;
}
ul.sf_admin_ul_actions li {
    -moz-border-radius: 3px;
	width: 160px; height: 21px;
	margin: 1px;
	line-height: 23px;
}

ul.sf_admin_ul_actions li.mooBOA {
	border: 1px solid #8AA;
    color: #EEE;
    background: transparent url(../images/fnds_object_action.png) no-repeat left top;
}

ul.sf_admin_ul_actions li.mooBOA-hover {
	border-color: #699;
    cursor: pointer;
    color: #FFF;
    background-position: left -25px;
}

ul.sf_admin_ul_actions li.mooBOA-down {
    background-position: left -50px;
}

ul.sf_admin_ul_actions div.icn {
	margin: 0 5px 0 0; padding: 2px;
    float: left;
}