    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for pcc
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName pcc.localhost
      DocumentRoot "/var/www/pcc/web"
      DirectoryIndex index.php
      <Directory "/var/www/pcc/web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "/usr/share/php/data/web/sf"
      <Directory "/usr/share/php/data/web/sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
